{% extends 'base.html.twig' %}
{% block title 'users' %}
{% block  body %}

<table class="table-auto min-w-full ">
  <thead>
    <tr>

      <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">id</th>
      <th  class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">name</th>
      <th  class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">username</th>
      <th  class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">address</th>
      <th  class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">phone</th>
      <th  class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">website</th>
      <th  class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">company</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr class="bg-white">
      <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">{{item.id}}</td>
      <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">{{item.name}}</td>
      <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">{{item.username}}</td>
      <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">{{item.address.city}}</td>
      <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">{{item.phone}}</td>
      <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">{{item.website}}</td>
      <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">{{item.company.name}}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}  